.nesflis{text-align: center ;
    color:white;
    font-size:100PX
}

body{background-color:black}

.caja {width:100%;
height:5%;
background-color:blue;
margin-left:auto;
margin-right:auto}

img{width:150px;
height:200px;
float:left;
margin-left:210px;
margin-top:100px}

.datos{width:400px;
height:200px;
position:absolute;
top:800px;
left:700px;
color:white
}

.Form{width:100px;
height:400px;
position:absolute;
top:700px;
left:750px;
color:white}

.texto1{color:white;
position:absolute;
top:575px;
left:235px;
font-size:150%
}

.texto2{color:white;
    position:absolute;
    top:575px;
    left:600px;
    font-size:150%
    }

    .texto3{color:white;
        position:absolute;
        top:575px;
        right:620px;
        font-size:150%;
        }

        .texto4{color:white;
            position:absolute;
            top:575px;
            right:235px;
            font-size:150%
            }


.hide{display:none}

.puntaje{color: white}

.p1{position:absolute;
    top:650px;
    left:270px;}

    .p2{position:absolute;
        top:650px;
        left:635px;}

        .p3{position:absolute;
            top:650px;
            right:640px;}

            .p4{position:absolute;
                top:650px;
                right:280px;}

.but{position:absolute;
    top:670px;
    left:650px;}

    .traer{color: white;
}
